<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>SANJORCOOL - 后台管理</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/public/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/public/css/admin_main.css">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
</head>
<body>
	<div class="content_box">
		<div class="article_prev">
			<div class="banner"><img src="/public/images/img.png"></div>
			<div class="logo"><img src="/public/images/logo.png"></div>
			<div class="login_box">
				<label class="text_box">
					<input type="text" name="username" title="账号" placeholder="请输入账号" />
					<input type="password" name="password" placeholder="请输入密码" style="border:0;" />
				</label>
				<div class="goin">
					<div class="goin_btn" id="login"><img src="/public/images/ico_goto.png"></div>
					<ul class="border_line">
						<li class="line_a"><img src="/public/images/border_line1.png" id="changea"></li>
						<li class="line_b"><img src="/public/images/border_line2.png"></li>
						<li class="line_c"><img src="/public/images/border_line3.png"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="article_next">

		</div>
	</div>
	<div class="bg_mask"></div>


	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/js/admin_index.js"></script>

</body>
<script type="text/javascript">
	window.onload = function(){
		

	}
</script>
</html>